* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: beige;
}

header {
    /*Tamanho altura*/
    height: 100px;
    background: rgb(255, 88, 88);
    /* COR DE TEXTO */
    color: beige;
    /*FlexBox*/
    display: flex;
    border-bottom: 1px solid orange;
}

.contentHeader {
    margin: 0 auto;
    /*largura*/
    max-width: 1000px;
    width: 100%;
 /*FlexBox*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    margin: 20px;
}

header nav ul{
    display: flex
}
header nav ul a {
    color: beige;
    text-decoration: none;
    font-size: 18px;
    font-size: 25px;
    padding: 20px;
}
header nav ul a:hover {
    text-decoration: underline;
    color: orange;
}

.carousel article {
    margin-top: 20px;
    text-align: center;
}
.carousel img {
    border-radius: 10px;
    width: 80%;
    height: 350px;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;

    color: #8d4925;
    padding: 15px;

    background: beige; /* opcional */
}

.paginaLogin h1 {
    color: #191970;
    padding-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}
.menu-container{
    position: relative;
    display: inline-block;
}

.vellip{
    font-size: 27px;
    cursor: pointer;
    border: none;
    background: none;
    color: beige;
    padding-left: 20px;
}
.vellip:hover{
    color: orange;
    text-decoration: underline;
}

.menu{
    display: none;
    position: absolute;
    top: 40px;
    right: 0;

    background: beige;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);

    min-width: 150px;
    overflow: hidden;
}

.menu a{
    display: block;
    padding: 12px;
    text-decoration: none;
    color: black;
}

.menu a:hover{
    background: rgba(236, 236, 193, 0.808);
}

.menu.show{
    display: block;
}

/* Formulário */
form {
    background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  width: 350px;
  margin: 0 auto;
}
form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  
}

form label {
  margin-bottom: 8px;
  font-weight: bold;
}

form input,
form select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

form button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: rgb(39, 39, 234);
  color: white;
  cursor: pointer;
}
