* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: beige;
}

header {
    /*Tamanho altura*/
    height: 100px;
    background: rgb(255, 88, 88);
    /* COR DE TEXTO */
    color: beige;
    /*FlexBox*/
    display: flex;
    border-bottom: 1px solid orange;
}

.contentHeader {
    margin: 0 auto;
    /*largura*/
    max-width: 1000px;
    width: 100%;
    /*FlexBox*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    margin: 20px;
}

header nav ul{
    display: flex
}
header nav ul a {
    color: beige;
    text-decoration: none;
    font-size: 18px;
    font-size: 25px;
    padding: 20px;
}
header nav ul a:hover {
    text-decoration: underline;
    color: orange;
}

.carousel article {
    margin-top: 20px;
    text-align: center;
}
.carousel img {
    border-radius: 10px;
    width: 80%;
    height: 350px;
}

footer {
    font-family: italic;
    position: fixed;
    bottom: 0;
    right: 0;
    color: #8d4925;
    padding: 15px;
    background: beige; 
}

.paginaLogin h1 {
    color: rgb(255, 88, 88);
    padding-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.menu-container{
    position: relative;
    display: inline-block;
}

.vellip{
    font-size: 27px;
    cursor: pointer;
    border: none;
    background: none;
    color: beige;
    padding-left: 20px;
}
.vellip:hover{
    color: orange;
    text-decoration: underline;
}

.menu{
    display: none;
    position: absolute;
    top: 40px;
    right: 0;

    background: beige;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);

    min-width: 150px;
    overflow: hidden;
}

.menu a{
    display: block;
    padding: 12px;
    text-decoration: none;
    color: black;
}

.menu a:hover{
    background: rgba(236, 236, 193, 0.808);
}

.menu.show{
    display: block;
}

/* Formulário */
form {
  background: rgb(230, 226, 191);
  padding: 30px;
  border-radius: 12px;
  width: 350px;
  margin: 0 auto;
}
form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  
}

form label {
  margin-bottom: 8px;
  font-weight: bold;
}

form input,
form select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

form button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: rgb(255, 88, 88);
  color: white;
  cursor: pointer;
}

/* CARD DO CAROUSEL */

.travel-card{
    position: relative;
    width: 80%;
    margin: 20px auto;

    overflow: hidden;
    border-radius: 15px;

    transition: 0.4s;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.travel-card a{
    text-decoration: none;
    display: block;
}

.travel-card img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;

    transition: 0.4s;
}

.overlay{
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: 0.4s;
}

.overlay h2{
    color: white;
    font-size: 40px;
    transition: 0.4s;
}

.overlay p{
    color: beige;
    margin-top: 10px;

    opacity: 0;
    transform: translateY(10px);

    transition: 0.4s;
}

/* Hover */

.travel-card:hover .overlay{
    background: rgba(0,0,0,0.5);
}

.travel-card:hover img{
    transform: scale(1.08);
}

.travel-card:hover p{
    opacity: 1;
    transform: translateY(0);
}

header{
    position: relative;
    z-index: 1000;
}

.menu{
    z-index: 2000;
}

.travel-card{
    z-index: 1;
}

.cadastro {
    text-decoration: none;
    color: rgb(255, 88, 88);
    padding-left: 45px;
}

.grupo-carrosseis {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin: 40px 0;
    padding-top: 40px;
}

.carrossel {
    position: relative;
    width: 350px;
    height: 250px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.slide {
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
}

.slide.ativo {
    display: block;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-slide {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    color: white;
}

.info-slide h3 {
    margin: 0 0 5px;
    font-size: 1.4rem;
}

.info-slide a {
    margin: 0;
    font-size: 0.95rem;
    color: white;
    text-decoration: underline;
}

.seta {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;

    width: 40px;
    height: 40px;

    border: none;
    border-radius: 50%;

    cursor: pointer;

    background: rgba(255,255,255,0.8);
    font-size: 20px;
}

.seta:hover {
    background: white;
}

.esquerda {
    left: 10px;
}

.direita {
    right: 10px;
}

.sobre-site{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

    padding: 80px 10%;
    flex-wrap: wrap;
}

.texto-sobre{
    flex: 1;
    min-width: 320px;
}

.texto-sobre h2{
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.texto-sobre p{
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 15px;
}

.galeria-sobre{
    flex: 1;
    min-width: 320px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.galeria-sobre img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,.15);
}

.galeria-sobre img:last-child{
    grid-column: span 2;
}